body {
    background-color: rgb(13, 17, 23);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.border-sup{
    position:absolute;
    top: 0;
    right: 0;
    left: 0;
    padding: 50px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.137);
    background-color: rgb(36, 41, 47);
    width: auto;
}
#chk{
    display: none;
    
    }
    .switch{
        position: absolute;
        background-color: rgb(39, 38, 38);
        width: 40px;
        height: 20px;
        border-radius: 20px;
        display: flex;
        align-items: center;
        padding: 5px;
        transition: all .5s ease-in-out;
        cursor: pointer;
        right: 0;
        margin-right: 15px;
        margin-top: -10px;
    }
    .slider{
        position: absolute;
        background-color: rgb(255, 253, 253);
        border-radius: 50%;
        width: 20px;
        height: 20px;
        transition: all .5s ease-in-out;
    }
    #chk:checked ~.switch{
        background-color: rgb(217, 224, 223);
    }
    #chk:checked ~.switch .slider{
        transform: translateX(20px);
    }
    .btn_home{
    
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 20px;
    position: absolute;
    border-radius: 10px;
    left: 0;
    margin-left: 15px;
    margin-top: -25px;
    
    }
    #home{
        color: white;
        font-size:20pt;
        position: absolute;
        margin-top: -10px;
    }
    .n_home{
        margin:flex;
        position: absolute;
        text-align: center;
        margin-top: 55px;
        color: white;
        font-size: 10pt;
    }
    .btn_home:hover #home{
        font-size: 25pt;
    }
    .btn_home:hover .n_home{
        margin-top: 60px;
        font-size: 12pt;
    }
#placar {
    width:  300px;
    padding: 10px;
    background-color: rgb(36, 122, 156);
    border-radius: 20px;
    margin-top: 115px;
}
#box_vencedor{
    padding: 10px;
    max-width: 135px;
    height: auto;
    border-radius: 5px;
    margin: 5px auto;
}
#plac_empt{
    padding: 10px;
    width: 35px;
    height: auto;
    border-radius: 5px;
    margin: 5px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
#ganhador{
    display: flex;
    justify-content: center;
}

#jogada {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* Centraliza horizontalmente */
    align-items: center;
    /* Centraliza verticalmente */
}

#container {
    display: flex;
    justify-content: center;
    margin-left: 20px;
    
}

#pedra,
#papel,
#tesoura {
    font-size: 30pt;
    padding: 25px;
    width: 50px;
    height: 50px;
    background-color: rgb(36, 41, 47);
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    border: 1px solid rgba(255, 255, 255, 0.13);
    margin-right: 20px;
    
}

#pedra:hover,
#papel:hover,
#tesoura:hover {
    color: rgb(210, 250, 236);
}

#plac_b {
    padding: 10px;
    width: 80px;
    height: auto;
    background-color: rgb(221, 42, 36);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    border: 1px solid rgba(255, 255, 255, 0.212);
    box-shadow: 1px 4px rgba(0, 0, 0, 0.055);
}
#plac_u {
    padding: 10px;
    width: 80px;
    height: auto;
    background-color: rgb(36, 39, 221);
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centralizar verticalmente */
    align-items: center; 
    border-radius: 25px;
    border: 1px solid rgba(255, 255, 255, 0.212);
    box-shadow: 1px 4px rgba(0, 0, 0, 0.055);
}
#versus{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
#box_limite{
display: flex;
}
#number{
    padding: 10px;
    background-color:  rgb(36, 41, 47);
    border: 1px solid rgba(255, 255, 255, 0.11);
    color: white;
    font-weight: bold;
    width: 70px;
    height: 50px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#digt{
    color: white;
    height: auto;
    width: 20px;
    font-size: 15pt;
    display: flex;
    justify-content: center;
    align-items: center;
}
#sub,#sum{
    padding: 10px;
    background-color:  rgb(36, 41, 47);
    border: 1px solid rgba(255, 255, 255, 0.11);
    width: 50px;
    height: 50px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
    margin-right: 15px;
    cursor: pointer;
}
#sub:hover,#sum:hover{
  font-size: 20pt;
  font-weight: bold;
}